*
{
    margin-left: 5px;
    padding: 0;
}
ul
{
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
}
h3
{
    border-bottom: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
}
p
{
    margin-top: 0px;
}
#navbar li>a
{
color: brown;
}

#list-vocals
{
    
}