*
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 1rem;
    /* border: 1px solid red; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.nav-list>li
{
list-style-type: none;
display: inline-block;
position: relative;
}

.text-left
{
    line-height: 100%;
}
.nav-list li a 
{
    text-decoration: none;
    padding: 15px 10px ;
    color: lightgray;
    text-align: center;
}
.nav-list>li>a:hover 
{
    color:gray;
    background-color:darkgoldenrod;
}

.icon-login
{
display: inline-block;
}
.bg-black
{
    background-color: black;
}

.text-right
{
    color:lightgray;
    text-align: right;
}
.sub-nav-list
{
    position: absolute;
    visibility: hidden;
    top: 34px;
}

.sub-nav-list li 
{
list-style-type: none;
width: 110px;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 6px;
border: 1px solid gray;

}
.nav-list li:hover ul
{
visibility: visible;
}
.nav-list>li:hover .sub-nav-list li:hover 
{
    background-color: blueviolet;
}
.left-sidebar ul li
{
list-style-type: none;
padding: 10px;
text-align: center;
}
.left-sidebar 
{
    background-color: rgb(241 241 241);
    height: 500px;
}
h1,h3
{
    margin-bottom: 10px;
}
.right-sidebar
{
    background-color:rgb(241 241 241) ;
    height: 500px;
}
.btn 
{
    height: 50px;
    width:100px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.footer 
{
    background-color: blanchedalmond;
    height: 100px;
    width: 100%;
    clear: both;
}



